//PSEUDOSELETORES (PARA IMAGENS USA :nth-child(n) ) :nth-child (n) : serve para selecionar o item a ser modificado individualmente

<h2>:nth-child(n)</h2>
  <div class="images">
    <img src="foto 1">
    <img src="foto 2">
    <img src="foto 3">
    <img src="foto 4">
    <img src="foto 5">
  </div>

//CSS Styles:

.images{            //CONFIGURAÇÃO GERAL DAS IMAGENS SEGGUNDO À CLASS="images"
  margin-top: 2rem;
  display: flex;
  width: 600px;
  justify-content: space-between;

  img{
    height: 100px;
  }

  img:nth-child(odd){
    border-radius: 50%; // AS FOTOS ÍMPARES FICARÃO REDONDAS 50%
  }

  img:nth-child(even){
    border-radius: 10px; // AS FOTOS PARES FICARÃO REDONDAS 10PX
  }

  img:nth-child(3){
    filter: grayscale(100%); //A FOTO 3 FICARÁ CINZA
  }
}

//PODE-SE USAR TAMBÉM A EXPRESSÃO :firstchild  e :last-child SE QUISER MODIFICAR SOMENTE A PRIMEIRA OU A ÚLTIMA IMAGEM OU OBJETO.
